.parent{
    background-color: aqua;
    display: flex;
}

.child
{
    background-color: blanchedalmond;
    border: 1px solid red;
    flex-basis: 30px;
    justify-content: flex-start;
}
.searchBox{
    flex-grow: 1;
    text-align: center;
}
.cart{
    flex-grow: 1;
    text-align: center;
}